* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;

}

@font-face {    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: url(./src/font/Helvetica.woff) format('woff');
}

@font-face {
    font-family: 'HelveticaRoundedBold';
    font-style: normal;
    font-weight: normal;
    src: url(./src/font/helvetica-rounded-bold-5871d05ead8de.woff) format('woff');
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: 'Helvetica', sans-serif;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100px;
    background-color: #f3f3f3;
    border-right: solid rgba(0, 0, 0, 0.152) 1px;
}

.top-content {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bottom-content {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bottom-content .line {
    height: 1px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.387);
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-content img {
    height: 30px;
    width: 30px;
}

.bottom-content img {
    height: 30px;
    width: 30px;
}

.bottom-content img:nth-child(5) {
    border-radius: 45px;
}

.chats-container {
    height: 100%;
    width: 45%;
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 28px;
    border-right: solid rgba(0, 0, 0, 0.152) 1px;
}

.chats-header h1 {
    color: #1daa61;
    font-weight: 500;
    font-size: 22px;
    font-family: 'HelveticaRounded', sans-serif;
}

.chats-header .input-search {
    margin-left: 0px;
    margin-top: 15px;
    padding-left: 14px;
    display: flex;
    border-radius: 45px;
    gap: 10px;
    background-color: #0000000c;
    width: 95%;
    height: 50px;
    align-items: center;
    border: 2px solid #1daa6100;
    transition: 0.15s ease-in-out;
}

.input-search:has(input:focus) {
    border: 2px solid #1DAA61;

}

.input-search input {
    border: none;
    background-color: #00000000;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    gap: 10px;
    font-size: 16px;
    outline: 0;
    border: none;

}

.contact-content {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.contact-header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    padding-left: 16px;
    height: 70px;
    width: 100%;
    background-color: #f3f3f3;
    border-bottom: solid rgba(0, 0, 0, 0.152) 1px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.082);
}

.contact-header .contact-info {
    display: flex;
    align-items: center;
    gap: 14px;
}

.contact-header .profile-contact-picture {
    border-radius: 45px;
    height: 45px;
}

.contact-header .contact-name {
    font-size: 18px;
}

.contact-header .user-chat-options {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-right: 35px;
}

.user-chat-options img:nth-child(3) {
    padding-left: 20px;
}

.user-chat-options img:nth-child(4) {
    padding-left: 18px;
}

.contacts-chat {
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-top: 12px;
    gap: 2px;
}

.contact {
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.info {
    height: 100%;
    width: 100%;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}

.info span {
    font-size: 18px;
}

.info .last-message {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.679);
}

.info p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.679);
}

.contact img {
    height: 55px;
    border-radius: 50px;
    border: solid rgba(0, 0, 0, 0.152) 1px;
}

.info .contact-info {
    display: flex;
    padding-top: 2px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-messages {
    z-index: -999;
    background-image: url(./src/img/background.png);
    min-height: 92.5%;
    max-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    padding-inline: 5px;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 10px;
}

.container-messages .date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    background-color: #FEFDFD;
    border-radius: 12px;
    font-size: 13px;
    box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.479);
}

.container-messages .date span {
    color: #0000008f;
}

.container-messages .alert {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 500px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.082);
    background-color: #FFF0D4;
    color: #00000081;
    border-radius: 12px;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 10px;
    height: 100%;
    width: 100%;
    margin-bottom: 70px;
}

#user-message {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px 0px 10px 10px;
    align-self: flex-end;
    position: relative;
    min-height: 20px;
    width: fit-content;
    max-width: 60%;
    background-color: #d5fcce;
}

#user-message::before {
    content: "";
    position: absolute;
    top: 0;
    right: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent transparent #d5fcce;
}

#user-message span:nth-child(2) {
    align-self: flex-end;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.445);
}

#contact-message {
    display: flex;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    align-items: self-start;
    position: relative;
    left: 0px;
    min-height: 20px;
    max-height: 100%;
    width: fit-content;
    max-width: 60%;
    background-color: white;
}

#contact-message span:nth-child(2) {
    align-self: flex-end;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.445);
}

#contact-message::before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #ffffff transparent transparent;
}

.sending-message-area {
    position: fixed;
    bottom: 12px;
    padding-left: 10px;
    width: 74%;
}

.input-send-message {
    margin-left: 5px;
    margin-top: 15px;
    padding-left: 14px;
    display: flex;
    border-radius: 45px;
    gap: 10px;
    background-color: #ffffff;
    width: 88%;
    height: 55px;
    align-items: center;
    border: 2px solid #ffffff;
    transition: 0.15s ease-in-out;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.082);

}

.input-send-message #options {
    height: 16px;
    transition: 1s;
    opacity: 70%;
}

.input-send-message #options:hover {
    transform: rotate(225deg);
}

.input-send-message:has(input:focus) {
    border: 2px solid #00e187;

}

.input-send-message input {
    border: none;
    background-color: #00e18700;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    gap: 10px;
    font-size: 14px;
    outline: 0;
    border: none;
}

.sending-message-area .sender-options {
    display: flex;
    flex-direction: column;
    padding: 10px;
    opacity: 0%;
    height: 100px;
    width: 100px;
    transition: 0.5s;
    gap: 10px;
}

.sender-options .option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sending-message-area:has(.input-send-message img:hover) .sender-options {
    font-size: 18px;
    opacity: 100%;
    height: 300px;
    width: 180px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.082);
}

#send-message {
    display: none;
}

#send-message {
    height: 35px;
    padding-right: 15px;
}

.input-send-message:has(input:focus) #send-message {
    display: block;
}